{% extends "base.html" %}
{% load static %} {% block content %}
<div style="padding: 20px; font-family: sans-serif;" xmlns:hx-on="http://www.w3.org/1999/xhtml"
     xmlns:x-transition="http://www.w3.org/1999/xhtml" xmlns:>

    <h1>Welcome, {{ first_name }} !</h1>
    <p>This is your dashboard.</p>

    <hr>

    <div class='summary_and_nav' style="display: flex; flex-direction: column; gap: 20px;">

        <div style="border: 2px solid #007bff; padding-left: 20px; border-radius: 8px; background: #eee;
            display: grid;
            /* This creates 3 equal columns, even if one is empty! */
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;">
            <div>
                <h3>Database Summary</h3>
                <p>Total Teams in Postgres: <strong>{{ total_count }}</strong></p>
            </div>
            <div>
                <h3>Fixtures Summary</h3>
                <p>Test</p>
            </div>
            <div>
                <h3>Current Bets</h3>
                <div>Team`s Bets: {{ teams_bets }}</div>
                <div>Live Bets: {{ live_bets }}</div>
                <div>Available Plus: {{ stats }}</div>
            </div>
            <div style="display: grid; grid-template-columns: 2fr 1fr 1fr; gap: 10px; padding: 20px; border-radius: 8px; align-items: center;">
                <h3 style="grid-column: 1 / span 3; margin-bottom: 5px; margin-top: 0px;">Stats Summary</h3>

                <div style="font-weight: bold; color: #666;">Category</div>
                <div style="font-weight: bold; color: #666;">Weekly</div>
                <div style="font-weight: bold; color: #666;">Monthly</div>

                <hr style="grid-column: 1 / span 3; width: 100%; border: 0; border-top: 1px solid #2c3e50; margin: 0px">

                <div>Placed Bets</div>  <div>45</div>  <div>180</div>
                <div>Win Rate</div>   <div style="color: green;">70%</div> <div style="color: green;">68%</div>
                <div>Avg Odds</div>   <div>1.90</div> <div>1.85</div>
                <div>Profit</div>     <div style="font-weight:bold;">+$200</div> <div style="font-weight:bold;">+$850</div>
                <div>Yield</div>      <div>+5.2%</div> <div>+4.8%</div>

            </div>
{#            <div style="display: grid;#}
{#                /* This creates 3 equal columns, even if one is empty! */#}
{#                grid-template-columns: 1fr 1fr 1fr;">#}
{#                <h3 style="grid-column: 1 / span 3; margin-bottom: 10px;">#}
{#                    Stats Summary#}
{#                </h3>#}
{#                <div>#}
{#                    <p>Weekly stats</p>#}
{#                </div>#}
{#                <div>#}
{#                    <p>Monthly stats</p>#}
{#                </div>#}
{#            </div>#}
        </div>

        <div class="tabs-nav">

            <button class="tab-btn active" onclick="switchTab(this, 'fixtures-tab')">
                Fixtures
            </button>

            <button class="tab-btn"
                    onclick="switchTab(this, 'teams-tab')"
                    data-hx-get="{% url 'teams_list_partial' %}"
                    data-hx-target="#teams-table-container"
                    data-hx-trigger="click">
                Teams
            </button>

            <button class="tab-btn"
                    onclick="switchTab(this, 'distribution-tab')"
                    data-hx-get="{% url 'distribution_table' %}"
                    data-hx-target="#distribution-table-container"
                    data-hx-trigger="click">
                Distribution
            </button>

            <button class="tab-btn"
                    onclick="switchTab(this, 'leagues-tab')"
                    data-hx-get="{% url 'leagues_tab_page' %}"
                    data-hx-target="#leagues-tab-content"
                    data-hx-trigger="click">
                Leagues
            </button>

            <button class="tab-btn">
                Countries
            </button>

            <button class="tab-btn">
                Archive
            </button>

            <button class="tab-btn">
                Fixtures stats
            </button>

            <button class="tab-btn">
                Stats
            </button>

            <button class="tab-btn"
                    onclick="switchTab(this, 'imports-tab')"
                    data-hx-get="{% url 'imports_tab_page' %}"
                    data-hx-target="#imports-tab-content"
                    data-hx-trigger="click">
                Imports
            </button>

            <button class="tab-btn">
                Settings
            </button>

        </div>
    </div>

    <div id="fixtures-tab" class="tab-content" style="border: 1px solid #ccc; padding: 20px; border-radius: 8px; flex: 2;">

        <div style="display: flex; gap: 20px; align-items: stretch; flex-wrap: wrap; margin-bottom: 0px;">

            <form
                method="post"
                data-hx-post="{% url 'fetch-and-save-fixtures' %}"
                data-hx-target="#fixture-container"
                data-hx-swap="innerHTML"
                style="flex: 1; min-width: 150px; padding: 20px; background: #f9f9f9; border-radius: 8px; border: 1px solid #ddd; margin: 0;"
            >
                {% csrf_token %}
                <h4 style="margin-top: 0;">Sync Fixtures by Range</h4>

                <div style="display: flex; gap: 15px; align-items: flex-end; flex-wrap: wrap;">
                    <div>
                        <label style="display: block; font-size: 0.8em; color: #666;">From Date:</label>
                        <input type="date" name="date_from" value="{{ date_from }}" required style="padding: 8px; border-radius: 4px; border: 1px solid #ccc;">
                    </div>

                    <div>
                        <label style="display: block; font-size: 0.8em; color: #666;">To Date:</label>
                        <input type="date" name="date_to" value="{{ date_to }}" required style="padding: 8px; border-radius: 4px; border: 1px solid #ccc;">
                    </div>

                    <button type="submit"
                            name="fetch_range"
                            value="1"
                            hx-indicator="this"
                            class="btn-sync-range">
                        <span class="sync-loader">⏳</span>
                        <span>Get Fixtures !</span>
                    </button>

                    <button type="button"
                            class="fetch_scores_and_statuses"
                            data-hx-get="{% url 'fetch_scores_and_statuses' %}"
                            data-hx-target="#fixture-container"
                            data-hx-indicator="this">
                        <span class="btn-text">Fetch results</span>
                    </button>

                </div>
            </form>

            <div style="flex: 1; min-width: 150px; display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid #ddd; border-radius: 8px; background: #fff; padding: 0px;">

                <button class="btn-db-sync"
                        data-hx-get="{% url 'fixtures_partial' %}"
                        data-hx-target="#fixture-container"
                        data-hx-indicator="this">
                    <span class="static-icon">🔄</span>
                    <span class="db-loader"></span>
                    <span class="btn-text">Sync from DB</span>
                </button>

            </div>
        </div>

        <div hx-get="{% url 'get_distribution_partial' %}"
             hx-trigger="load"
             hx-swap="outerHTML">
             <div style="padding: 30px; text-align: center; color: #888;">⏳ Loading Distribution Table...</div>
        </div>

        <div class="table-buttons-container">

            <h3 style="margin: 0; line-height: 1">Fixtures List</h3>

            <button id="toggle-today-btn" class="btn-summary" onclick="toggleTodaySummary()">
                Show Today's Matches
            </button>

            <button id="toggle-streaks-btn"
                    class="btn-summary"
                    hx-get="{% url 'get_streaks' %}"
                    hx-target="#teams-streaks-content"
                    hx-trigger="click[document.getElementById('teams-streaks-container').classList.contains('streaks-collapsed')]"
                    hx-on:click="if(!this.getAttribute('hx-get')) return; toggleStreaksSummary();"
                    hx-on:htmx:before-request="showLoader('teams-streaks-content', 'Analyzing team streaks...');">
                Show Team's Streaks
            </button>

            <button class="btn-summary"
                    hx-get="{% url 'add_manual_fixture' %}"
                    hx-target="#form-container"
                    hx-trigger="click[!document.getElementById('add-manual-fixture-container').classList.contains('expanded')]"
                    hx-on:click="if(document.getElementById('add-manual-fixture-container').classList.contains('expanded')) {
                        document.getElementById('add-manual-fixture-container').classList.remove('expanded');
                        event.preventDefault(); /* Stops htmx from firing the network request when closing */
                    }"
                    hx-on:htmx:after-on-load="document.getElementById('add-manual-fixture-container').classList.add('expanded');">
                Add Manual Fixture
            </button>



        </div>

        <div id="today-summary-container" class="summary-collapsed">

            <div id="today-summary-content">
            </div>

        </div>

        <div id="teams-streaks-container" class="streaks-collapsed">
            <div id="teams-streaks-content">
            </div>
        </div>

        <div id="add-manual-fixture-container">
            <div id="form-container">
            <!-- htmx will inject the form template here -->
            </div>
        </div>

        <div id="fixture-container" data-hx-get="{% url 'fixtures_partial' %}" data-hx-trigger="load">
            <div style="text-align: center; padding: 40px;">
                <div class="loader"></div> <p style="color: #666; margin-top: 10px;">Fetching latest fixtures...</p>
            </div>
        </div>

    </div>

    <div id="teams-tab" class="tab-content" style="display: none;">

        <div style="margin-bottom: 15px;">
            <input type="text"
                   id="teamSearchInput"
                   onkeyup="filterTeams()"
                   placeholder="Search for a team name..."
                   style="width: 15%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
        </div>

        <h3>Teams Registry</h3>

        <div id="teams-table-container">
            <div style="text-align:center; padding: 50px;">
                <div class="spinner"></div>
                <p>Loading teams...</p>
            </div>
        </div>

    </div>

    <div id="distribution-tab" class="tab-content" style="display: none;">
        <div id="distribution-table-container" style="text-align:center; padding: 0px;">
        </div>
    </div>

    <div id="leagues-tab" class="tab-content" style="display: none;">
        <div id="leagues-tab-content">
        </div>
    </div>

    <div id="imports-tab" class="tab-content" style="display: none;">
        <div id="imports-tab-content">
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/fixtures.js' %}"></script>
    <script src="{% static 'js/fixture_row_service_button.js' %}"></script>
    <script src="{% static 'js/tabs_nav.js' %}"></script>
    <script src="{% static 'js/teams_table.js' %}"></script>
{% endblock %}